<link rel="stylesheet" href="path/to/spell-style.css">

<div class="spell-points-header" style="display: flex; justify-content: space-between; align-items: center;">
    <h2>Spell Points</h2>
    <a id="reset-spell-points" style="cursor: pointer;" title="Study Spell Book">
        <img src="icons/svg/book.svg" alt="Study Spell Book" style="width: 30px; height: 30px;" />
    </a>
</div>

<div class="spell-points-bar" style="border: 1px solid #000; padding: 2px; margin-bottom: 10px; width: 100%;">
    <div style="display: flex; justify-content: space-between; margin-bottom: 3px;">
        <span>Max Spell Points: {{totalSpellPoints}}</span>
        <span id="current-spell-points">Current Spell Points: {{currentSpellPoints}}</span>
    </div>
    <div style="width: 100%; height: 20px; background-color: #ccc; border-radius: 5px;">
        <div class="status-bar-fill" style="width: {{spellPointsPercentage}}%; height: 100%; background-color: {{statusBarColor}}; border-radius: 5px;"></div>
    </div>
</div>

<!-- Spell Levels -->
{{#each spellLevels}}
    <div class="spell-level-header" data-level="{{this.level}}" style="font-size: 10pt; margin-bottom: 5px;">
        <h4><i class="fas fa-angle-{{#if this.isCollapsed}}right{{else}}down{{/if}}"></i> Level {{this.level}} Spells</h4>
    </div>
    <table class="spell-level-group" style="width: 100%; display: {{#if this.isCollapsed}}none{{else}}table{{/if}};">
        {{#if this.spells.length}}
            {{#each this.spells}}
            <tr style="font-size: 10pt;">
                <td style="width: 20%;">
                    <div class="item-image" style="display: inline-block; width: 30px; height: 30px;">
                        <img src="{{this.img}}" alt="{{this.name}}" style="width: 100%; height: 100%;" />
                    </div>
                    <span class="item-name text-trunc spell-name-clickable" data-spell-id="{{this.id}}">{{this.name}}</span>
                </td>
                <td style="width: 10%; text-align: left;">
                    {{#if this.system.components.verbal}}V{{/if}}{{#if this.system.components.somatic}}S{{/if}}{{#if this.system.components.material}}M{{/if}}
                </td>
                <td style="width: 10%; text-align: left;" data-tooltip="{{this.system.castingTime}}">
                    {{this.system.castingTime}}
                </td>
                <td style="width: 10%; text-align: left;" data-tooltip="{{this.system.range}}">
                    {{this.system.range}}
                </td>
                <td style="width: 10%; text-align: left;" data-tooltip="{{this.system.areaOfEffect}}">
                    {{this.system.areaOfEffect}}
                </td>
                <td style="width: 5%; text-align: center;">
                    <div style="display: inline-flex; gap: 5px;">
                        <a class="spell-cast" data-spell-id="{{this.id}}" data-spell-points="{{../spellPointConversion.[this.system.level]}}">
                            <img src="icons/svg/daze.svg" title="Cast" style="width: 25px; height: 25px; cursor: pointer;" />
                        </a>
                        <a class="spell-init" data-spell-id="{{this.id}}">
                            <img src="icons/svg/d20-highlight.svg" title="Roll Initiative" style="width: 25px; height: 25px; cursor: pointer;" />
                        </a>
                    </div>
                </td>
            </tr>
            {{/each}}
        {{else}}
            <tr style="font-size: 10pt;"><td colspan="6">No spells available at this level.</td></tr>
        {{/if}}
    </table>
{{/each}}
